In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as dd

In [165]:
sightings_df = dd.read_csv('data/ebd_US-VT_smp_relJul-2025.txt', 
                 sep='\t', 
                 usecols=['GLOBAL UNIQUE IDENTIFIER', 'LAST EDITED DATE', 'TAXONOMIC ORDER', 'CATEGORY', 'COMMON NAME', 'SCIENTIFIC NAME', 'OBSERVATION COUNT', 'STATE', 'COUNTY', 'COUNTY CODE', 'LOCALITY', 'LOCALITY ID', 'LOCALITY TYPE', 'LATITUDE', 'LONGITUDE', 'OBSERVATION DATE', 'TIME OBSERVATIONS STARTED', 'OBSERVER ID', 'SAMPLING EVENT IDENTIFIER', 'OBSERVATION TYPE', 'DURATION MINUTES', 'EFFORT DISTANCE KM', 'NUMBER OBSERVERS', 'ALL SPECIES REPORTED', 'GROUP IDENTIFIER'],
                 blocksize=25e6,
                 na_values={'OBSERVATION COUNT': 'X'},
                 dtype={
                        'GLOBAL UNIQUE IDENTIFIER': 'string',
                        'LAST EDITED DATE': 'string',
                        'TAXONOMIC ORDER': 'UInt32',
                        'CATEGORY': 'category',
                        'COMMON NAME': 'category',
                        'SCIENTIFIC NAME': 'category',
                        'OBSERVATION COUNT': 'UInt32',
                        'STATE': 'category',
                        'COUNTY': 'category',
                        'COUNTY CODE': 'category',
                        'LOCALITY': 'string',
                        'LOCALITY ID': 'string',
                        'LOCALITY TYPE': 'category',
                        'LATITUDE': 'float64',
                        'LONGITUDE': 'float64',
                        'OBSERVATION DATE': 'period[D]',
                        'TIME OBSERVATIONS STARTED': 'string',
                        'OBSERVER ID': 'string',
                        'SAMPLING EVENT IDENTIFIER': 'string',
                        'OBSERVATION TYPE': 'category',
                        'DURATION MINUTES': 'UInt16',
                        'EFFORT DISTANCE KM': 'Float32',
                        'NUMBER OBSERVERS': 'UInt8',
                        'ALL SPECIES REPORTED': 'boolean',
                        'GROUP IDENTIFIER': 'string',

                        }
                )

sightings_df['GLOBAL UNIQUE IDENTIFIER'] = sightings_df['GLOBAL UNIQUE IDENTIFIER'].str.extract(r'(\d+)$')[0].astype('Int64')
sightings_df['SAMPLING EVENT IDENTIFIER'] = sightings_df['SAMPLING EVENT IDENTIFIER'].str.extract(r'(\d+)$')[0].astype('Int64')
sightings_df['LOCALITY ID'] = sightings_df['LOCALITY ID'].str.extract(r'(\d+)$')[0].astype('Int64')
sightings_df['GROUP IDENTIFIER'] = sightings_df['GROUP IDENTIFIER'].str.extract(r'(\d+)$')[0].astype('Int64')
sightings_df['LAST EDITED DATE'] = dd.to_datetime(sightings_df['LAST EDITED DATE'], errors='coerce')
sightings_df = sightings_df.categorize(columns=['COMMON NAME', 'SCIENTIFIC NAME', 'COUNTY CODE'])

In [170]:
print(sightings_df.head())
print(sightings_df['GROUP IDENTIFIER'].count())

   GLOBAL UNIQUE IDENTIFIER           LAST EDITED DATE  TAXONOMIC ORDER CATEGORY             COMMON NAME       SCIENTIFIC NAME  OBSERVATION COUNT    STATE   COUNTY COUNTY CODE                                          LOCALITY  LOCALITY ID LOCALITY TYPE   LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  OBSERVER ID  SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  DURATION MINUTES  EFFORT DISTANCE KM  NUMBER OBSERVERS  ALL SPECIES REPORTED  GROUP IDENTIFIER
0                1657117801 2023-03-16 15:49:30.066547             7969  species            Golden Eagle     Aquila chrysaetos                  1  Vermont  Rutland   US-VT-021                     Haystack Mountain, Pawlet, VT     23075098             P  43.386310 -73.181181       1863-05-12                      <NA>  obsr3650024                  131046398       Historical              <NA>                <NA>              <NA>                 False              <NA>
1                 551244913 2024-03-28 11:44:55.166136             6592  species              Sooty Tern  Onychoprion fuscatus                  1  Vermont  Addison   US-VT-001                         Larrabees Point, Shoreham       294520             P  43.856149 -73.376290       1876-09-06                      <NA>    obsr27544                   40646670       Historical              <NA>                <NA>              <NA>                 False              <NA>
2                 701546989                        NaT            32263  species  White-winged Crossbill      Loxia leucoptera               <NA>  Vermont    Essex   US-VT-009                                         Lunenburg       297522             T  44.463160 -71.682030       1878-03-22                      <NA>    obsr27544                   51937864       Incidental              <NA>                <NA>              <NA>                 False              <NA>
3                 175200804 2024-03-28 11:06:05.462051             5411  species        Common Gallinule     Gallinula galeata               <NA>  Vermont  Addison   US-VT-001                                       Ferrisburgh      1866785             P  44.202141 -73.278732       1879-04-28                      <NA>   obsr350731                   12492020       Incidental              <NA>                <NA>                 1                 False              <NA>
4                1596380719 2024-03-28 11:25:32.329503             5411  species        Common Gallinule     Gallinula galeata                  1  Vermont  Addison   US-VT-001  Little Otter Creek WMA IBA--Greenbush Rd. Access      2296796             H  44.230855 -73.255291       1879-04-28                      <NA>   obsr939641                  125262378       Historical              <NA>                <NA>              <NA>                 False              <NA>
<dask_expr.expr.Scalar: expr=((Categorize(frame=Assign(frame=Assign(frame=Assign(frame=Assign(frame=Assign(frame=ArrowStringConversion(frame=FromMapProjectable(eafa9f6))))))), categories={'COMMON NAME': 0                               Acadian Flycatcher
245                            Acanthis/Spinus sp.
1      Accipitrine hawk sp. (former Accipiter sp.)
1                            African Collared-Dove
2                                 Alder Flycatcher
                          ...
134                                  waterfowl sp.
188                                white egret sp.
197                          white-winged gull sp.
328                                 woodpecker sp.
349                                       wren sp.
Length: 573, dtype: object, 'SCIENTIFIC NAME': 0                       Acanthis flammea
245                  Acanthis/Spinus sp.
1                     Accipiter striatus
376    Accipiter striatus/Astur cooperii
1           Accipitridae sp. (eagle sp.)
                     ...
326               Zonotrichia albicollis
288              Zonotrichia atricapilla
327               Zonotrichia leucophrys
211    Zonotrichia leucophrys/albicollis
328                  Zonotrichia querula
Length: 573, dtype: object, 'COUNTY CODE': 14    US-NH-009
0     US-VT-001
1     US-VT-003
2     US-VT-005
3     US-VT-007
4     US-VT-009
5     US-VT-011
6     US-VT-013
7     US-VT-015
8     US-VT-017
9     US-VT-019
10    US-VT-021
11    US-VT-023
12    US-VT-025
13    US-VT-027
dtype: object}))['GROUP IDENTIFIER']).count(), dtype=int64>

In [148]:
dd.to_parquet(sightings_df, 'data/VT_observations.parquet', engine="pyarrow", write_index=False)

In [149]:
sightings_df = dd.read_parquet('data/VT_observations.parquet', engine="pyarrow")

In [150]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)
print(len(sightings_df))
print(sightings_df.tail(10))

10580275
       GLOBAL UNIQUE IDENTIFIER           LAST EDITED DATE  TAXONOMIC ORDER CATEGORY            COMMON NAME     SCIENTIFIC NAME  OBSERVATION COUNT    STATE   COUNTY COUNTY CODE                                           LOCALITY  LOCALITY ID LOCALITY TYPE   LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED OBSERVER ID  SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  DURATION MINUTES  EFFORT DISTANCE KM  NUMBER OBSERVERS  ALL SPECIES REPORTED GROUP IDENTIFIER
64713                3338581419 2025-07-04 18:59:43.783644            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027  Marsh-Billings-Rockefeller National Historical...       769958             H  43.630753 -72.517950       2025-07-04                  11:22:00  obsr557970                  256849892        Traveling                83               0.904                 1                  True             <NA>
64714                3359936160 2025-07-11 10:03:34.498332            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027  North Springfield Reservoir - Springfield (290...       752114             H  43.344295 -72.507821       2025-07-11                  08:40:00  obsr555429                  258883407        Traveling                47               1.749                 1                  True             <NA>
64715                3387754145 2025-07-20 12:04:53.856815            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027  163 Clay Hill Rd, Hartland US-VT (43.5938,-72....     17454648             P  43.593774 -72.381062       2025-07-20                  09:30:00  obsr416668                  261412097        Traveling                73               1.834                 2                  True             <NA>
64716                3375413213 2025-07-16 08:01:16.226642            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027  192 Brothers Rd, Hartland US-VT 43.60097, -72....     34479471             P  43.600967 -72.421105       2025-07-16                  07:02:00  obsr876003                  260281174        Traveling                58               0.105                 1                  True             <NA>
64717                3353479687 2025-07-09 06:40:23.716202            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027                                      Hartness Home      7747022             P  43.656879 -72.418796       2025-07-09                  06:24:00  obsr325812                  258296860       Stationary                15                <NA>                 1                  True             <NA>
64718                3420342569 2025-07-31 10:02:43.420454            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027  163 Clay Hill Rd, Hartland US-VT 43.59538, -72...     12044802             P  43.595380 -72.380978       2025-07-26                  08:50:00  obsr416668                  263989122        Traveling                29               0.393                 2                  True             <NA>
64719                3334421297 2025-07-03 06:10:51.324322            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027               Great Hawk Hawkcrest-Sparrow Hawk Rd      1418741             P  43.868013 -72.829605       2025-07-03                  05:52:00   obsr18303                  256417586       Stationary                19                <NA>                 1                  True             <NA>
64720                3348535770 2025-07-07 13:22:33.428918            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027                         VINS Quechee Nature Center       165599             H  43.644732 -72.411776       2025-07-07                  07:34:00  obsr325812                  257869338        Traveling                27               0.368                 1                  True             <NA>
64721                3338556208 2025-07-04 18:57:43.959730            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027                          Mount Ascutney State Park      1959481             H  43.444569 -72.432518       2025-07-04                  11:45:00  obsr374690                  256846980        Traveling                72               1.417                 2                  True             <NA>
64722                3389025778 2025-07-20 20:41:51.438542            33874  species  Yellow-rumped Warbler  Setophaga coronata                  1  Vermont  Windsor   US-VT-027     Mount Ascutney State Park--Weathersfield Trail     16726061             H  43.426915 -72.466044       2025-07-20                  14:26:00  obsr416951                  261537024       Incidental              <NA>                <NA>                 2                 False             <NA>

In [157]:
complete_hotspot_sightings_df = sightings_df[
      (sightings_df['LOCALITY TYPE'] == 'H')
    & (sightings_df['CATEGORY'] == 'species')
    & (sightings_df['ALL SPECIES REPORTED'])
]
# REMOVE DUPLICATE ROWS FROM GROUP CHECKLISTS 
unique_complete_hotspot_sightings_df = complete_hotspot_sightings_df.drop_duplicates(subset=['GROUP IDENTIFIER'])

In [159]:
print(len(sightings_df))
print(len(complete_hotspot_sightings_df))
print(len(unique_complete_hotspot_sightings_df))

10580275
4341571
40808

In [123]:
HOTSPOTS = complete_hotspot_sightings_df['LOCALITY ID'].unique()
SPECIES = complete_hotspot_sightings_df['COMMON NAME'].unique()
#DAYS = pd.date_range(start=)

In [ ]:
checklists_df = dd.read_csv('data/ebd_US-VT_smp_relJul-2025_sampling.txt',
                        sep='\t', 
                        blocksize=25e6,
                        usecols=['LAST EDITED DATE', 'OBSERVATION DATE', 'LOCALITY ID', 'LOCALITY TYPE', 'SAMPLING EVENT IDENTIFIER', 'OBSERVATION TYPE', 'DURATION MINUTES', 'EFFORT DISTANCE KM', 'NUMBER OBSERVERS', 'ALL SPECIES REPORTED', 'GROUP IDENTIFIER'],
                        dtype={
                            'LAST EDITED DATE': 'string',
                            'LOCALITY ID': 'string',
                            'LOCALITY TYPE': 'category',
                            'SAMPLING EVENT IDENTIFIER': 'string',
                            'OBSERVATION TYPE': 'category',
                            'DURATION MINUTES': 'UInt16',
                            'EFFORT DISTANCE KM': 'Float32',
                            'NUMBER OBSERVERS': 'UInt8',
                            'ALL SPECIES REPORTED': 'boolean',
                            'GROUP IDENTIFIER': 'string'
                            }
                        )

checklists_df['LAST EDITED DATE'] = dd.to_datetime(checklists_df['LAST EDITED DATE'], errors='coerce')
checklists_df['LOCALITY ID'] = checklists_df['LOCALITY ID'].str.extract(r'(\d+)$')[0].astype('Int64')
checklists_df['SAMPLING EVENT IDENTIFIER'] = checklists_df['SAMPLING EVENT IDENTIFIER'].str.extract(r'(\d+)$')[0].astype('Int64')

In [131]:
checklists_df.head()

            LAST EDITED DATE  LOCALITY ID LOCALITY TYPE OBSERVATION DATE  SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  DURATION MINUTES  EFFORT DISTANCE KM  NUMBER OBSERVERS  ALL SPECIES REPORTED GROUP IDENTIFIER
0 2025-03-28 14:58:23.718586     11398723             P       2025-03-28                  221347013        Traveling                30               0.483                 2                  True             <NA>
1 2025-07-02 16:01:44.022663     11360827             P       2025-07-02                  256290564       Incidental              <NA>                <NA>                 1                 False             <NA>
2 2025-04-09 15:49:20.512607     11360827             P       2025-04-09                  224162872       Incidental              <NA>                <NA>                 1                 False             <NA>
3 2025-05-26 10:18:02.301179      1140162             H       2025-05-26                  242975716        Traveling                10               0.259                 1                  True             <NA>
4 2025-06-13 07:31:20.354768      1140162             H       2025-06-13                  249781342       Stationary                 7                <NA>                 1                  True             <NA>

In [132]:
dd.to_parquet(checklists_df, 'data/VT_checklists.parquet', engine="pyarrow", write_index=False)

In [133]:
checklists_df = dd.read_parquet('data/VT_checklists.parquet', engine="pyarrow")

In [ ]:
complete_hotspot_checklists_df = checklists_df[
      (checklists_df['ALL SPECIES REPORTED'])
    & (checklists_df['LOCALITY TYPE'] == 'H')
]

In [135]:
complete_hotspot_checklists_df.head()

            LAST EDITED DATE  LOCALITY ID LOCALITY TYPE OBSERVATION DATE  SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  DURATION MINUTES  EFFORT DISTANCE KM  NUMBER OBSERVERS  ALL SPECIES REPORTED GROUP IDENTIFIER
3 2025-05-26 10:18:02.301179      1140162             H       2025-05-26                  242975716        Traveling                10               0.259                 1                  True             <NA>
4 2025-06-13 07:31:20.354768      1140162             H       2025-06-13                  249781342       Stationary                 7                <NA>                 1                  True             <NA>
5 2025-05-22 15:46:54.167567      1140162             H       2025-05-22                  241308832       Stationary                10                <NA>                 1                  True             <NA>
6 2025-06-07 13:00:07.255729      1140162             H       2025-05-19                  240407756        Traveling                30               0.139                 1                  True             <NA>
7 2025-08-08 03:20:40.611660      1140162             H       2025-03-21                  219770714        Traveling                 6               0.127                 1                  True             <NA>

In [145]:
complete_hotspot_sightings_df[complete_hotspot_sightings_df['SAMPLING EVENT IDENTIFIER' == 'S249781342']]

KeyError: False